* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.flex {
  display: flex;
}
.primary-btn {
  color: white;
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 1.25rem;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
.section-description {
  font-size: 1rem;
  line-height: 26px;
  color: #727272;
}

/* colors */
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
/* main styles */
header {
  padding: 50px 0 45px;
  background-color: rgba(255, 144, 14, 0.1);
}
header .navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header .nav-links {
  gap: 20px;
}
header .nav-items {
  list-style-type: none;
}
header .nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 26px;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner styles */
.banner-content {
  text-align: center;
  font-weight: 700;
  max-width: 862px;
  margin: 118px auto 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  line-height: 26px;
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 32px;
}
.banner-image {
  width: 100%;
}
/* feature section styles */
.team {
  align-items: center;
  gap: 73px;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  max-width: 530px;
}
.features-title {
  margin-bottom: 24px;
}
.feature-description {
  line-height: 26px;
  margin-bottom: 32px;
}

/* facts section styles */
#facts h3 {
  margin-bottom: 24px;
}
.facts-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  width: 241px;
  height: 241px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-card h5 {
  font-size: 1.25rem;
}

/* our-sponsors  section */
#our-sponsors .sponsors-info {
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-info h3 {
  margin-bottom: 24px;
}
.sponsors-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img {
  filter: grayscale(100%);
}
/* feature section styles */
.features {
  gap: 140px;
}

.feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 24px;
}
.feature-cards .card {
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.151);
  padding: 30px;
  margin-top: 20px;
}
.feature-cards .card-title {
  font-size: 1.25rem;
  color: #131313;
  font-weight: 600;
  margin-bottom: 10px;
}
#experience-badge {
  padding: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
  margin-top: -100px;
  margin-left: -100px;
}
#experience-year {
  font-size: 4rem;
  line-height: 70px;
  font-weight: 700;
}
.features-architect img {
  width: 100%;
}

/* responsive styles */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .team,
  .features {
    flex-direction: column;
  }
  .team-image-container,
  .facts-container,
  .sponsors-companies {
    grid-template-columns: 1fr;
  }

  .facts-container,
  .sponsors-companies {
    justify-items: center;
    gap: 20px;
  }
  .our-features,
  #facts h3,
  #facts p,
  .sponsors-info,
  .features > div {
    margin: 20px;
    text-align: justify;
  }
  #experience-badge {
    margin: 20px;
  }
}
